body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/aurora.jpg') ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    top: 0;
    justify-content: center;
    align-items: center;
}

.weather-modal {
    background-color: #f2f1f7;
    border-radius: 8px;
    width: 25rem;
    height: 25rem;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    
}

h1, h2, h3 {
    margin: 0;
    padding: 0;

}

.icon {
    width: 3rem;
}

.modal-top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.weatherContent {
    display: grid;
}

input {
    border-radius: 8px;
    padding: 8px;
}

button {
    background-color: #154881;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px;
    font-weight: bold;
}




